$black: #171919;
$black2: #263238;
$blue: #3f51b5;
$blue2: #102496;
$gray: #b7bbd0;
$gray2: #dcdeea;
$gray3: #f6f7ff;
$white: #fbfcff;
$red: #d85959;

.h1 {
   font-weight: 600;
   font-size: 22px;
   line-height: 1.73;
}
